---
layout: archive
title:
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<i>LSE</i><br><br>

<b>M.Sc. Macroeconomics</b> (EC413) - 2021, 2022 <br> 
2020/21 LSE Class Teacher Award, winner, Department of Economics <br><br>
<b>B.Sc. Econometrics</b> (EC220) - 2019, 2020 <br> 
2020/21 LSE Class Teacher Award, winner, Department of Economics <br><br>
<b>M.Sc. & Ph.D. Statistics for Economics Bootcamp</b> (EC400) - 2020, 2021, 2022<br>

